# File Service Environment Variables

APP_SERVER__HOST=0.0.0.0
APP_SERVER__PORT=8084

APP_DATABASE__HOST=localhost
APP_DATABASE__PORT=5432
APP_DATABASE__USER=file_user
APP_DATABASE__PASSWORD=file_password
APP_DATABASE__DATABASE=file_db
APP_DATABASE__SSL_MODE=disable

APP_REDIS__HOST=localhost
APP_REDIS__PORT=6379

APP_S3__ENDPOINT=http://localhost:9000
APP_S3__REGION=us-east-1
APP_S3__ACCESS_KEY=minioadmin
APP_S3__SECRET_KEY=minioadmin
APP_S3__BUCKET_PREFIX=platform

APP_LOGGER__LEVEL=debug
APP_LOGGER__ENVIRONMENT=local
